.foto {
    border-radius: 3000px;
    width: 180px;
}

h1 {
    font-size: 40px;
}

.item1 {
    font-size: 18px;
}

.foto2 {
    width: 20px;
}

.foto3 {
    width: 15px;
}

.foto4 {
    width: 15px;
}